@{
Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Coming Soon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="~/css/comingsoon.css" rel="stylesheet" />
</head>
<body>
<div class="bg-svg"></div>

<div class="countdown" id="countdown">
    <!-- JS ile doldurulacak -->
</div>


<footer>
    <a href="https://www.techliberty.co" target="_blank" rel="noopener">
        <img src="~/images/logo.svg" alt="TechLiberty Logo" class="logo-big" />
    </a>
</footer>

<script src="~/js/comingsoon.js"></script>
</body>
</html>
